<div class="row">
    <div class="col">
        <div class="card m-2">
            <!--User-->
            <div class="card-header">
                <h6>{{profile?.name}}</h6>
            </div>
            <!--Content-->
            <div class="card-body">
                <p>{{tweet.content}}</p>
            </div>
            <!--Likes-->
            <div class="card-footer">
                <p>{{tweet.likes}} Likes</p>
                <button (click)="like()" *ngIf="!tweet.isLiked" class="btn btn-primary">like</button>
                <button (click)="unlike()" *ngIf="tweet.isLiked" class="btn btn-danger">unlike</button>
            </div>
        </div>
    </div>
</div>
