<div class="row">
    <div class="col">
        <div class="card mb-2">
            <!--User-->
            <div class="card-header">
                <h6>{{profile?.name}}</h6>
            </div>
            <!--Content-->
            <div class="card-body">
                <p>{{tweet?.content}}</p>
            </div>
            <!--Likes-->
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <button (click)="like()" *ngIf="!tweet.liked" class="btn btn-primary">like</button>
                        <button (click)="unlike()" *ngIf="tweet.liked" class="btn btn-danger">unlike</button>
                    </div>
                    <div class="col">
                        <p>{{tweet.likes}} Likes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
