<nav class="navbar navbar-expand-lg navbar-light navbarColors" *ngIf="showNavBar">
    <a class="navbar-brand" routerLink="/home">Kwetter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" [class.active]="router.url == '/profile/{{profile?.id}}'">
                <a class="nav-link" routerLink="/profile/{{profile?.id}}">Profile</a>
            </li>
            <li class="nav-item" [class.active]="router.url == '#'">
                <a class="nav-link" routerLink="#">Followers</a>
            </li>
            <li class="nav-item" [class.active]="router.url == '/profile/edit/{{profile?.id}}'">
                <a class="nav-link" routerLink="/profile/edit/{{profile?.id}}">My account</a>
            </li>
            <li class="nav-item">
                <a role="button" (click)="logout()" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>
