<div class="container col-5 col-7 card mt-2">
    <div class="card-header">
        <h4>Register</h4>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off" class="card-body">
        <div class="form-group">
            <label for="username">Email</label>
            <input required ngModel name="username" id="username" #username="ngModel" type="text" class="form-control">
            <br>
            <div class="alert alert-danger" *ngIf="(username.touched || username.dirty) && !username.valid">Enter an email</div>
            <div class="alert alert-danger" *ngIf="usernameTaken">Email is taken</div>
        </div>
        <div class="form-group">
            <label for="name">name <i>(This will be shown on your profile)</i></label>
            <input required ngModel name="name" id="name" #name="ngModel" type="text" class="form-control">
            <br>
            <div class="alert alert-danger" *ngIf="(name.touched || name.dirty) && !name.valid">Enter a name for your profile</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input required ngModel name="password" id="password" #password="ngModel" type="password" class="form-control">
            <br>
            <div class="alert alert-danger" *ngIf="(password.touched || password.dirty) && !password.valid">Enter a password</div>
        </div>
        <button class="btn btn-primary">Register</button>
    </form>
    <div class="card-footer mt-2">
        <a routerLink="/login" class="nav-link">I have an account</a>
    </div>
</div>